@using BAL.Models.Event
@model EventStartViewModel

@{
    Layout = "~/Pages/Shared/_EventLayout.cshtml";
}


<div class="reveal">
    <div class="slides">
        <section class="event-page container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-4 qr-code">
                    <img src="@Model.QRCode" />
                </div>
                <div class="col-8 event-info">
                    <h1 class="display-1 text-light font-weight-bold">
                        @Model.Presentation.Name
                    </h1>
                    <h2 class="display-3 text-light mb-3">[ a mini trivia game ]</h2>
                    <div class="event-info__link">
                        <h2 class="text-primary">slideswith.com/@Model.Username</h2>
                    </div>
                </div>
            </div>
        </section>
        @foreach (var slide in Model.Presentation.Slides)
        {
            <section>
                @if (slide.Type == "Title")
                {
                    <h1>
                        @slide.Title
                    </h1>
                    <p>
                        @slide.Text
                    </p>
                }

                @if (slide.Type == "Image")
                {
                    <img src="@slide.Image" />
                    <p>
                        @slide.Text
                    </p>
                }
            </section>
        }
    </div>
</div>


