@using BAL.Models.Event
@model EventStartViewModel

@{
    Layout = "~/Pages/Shared/_EventLayout.cshtml";
}


<div class="reveal">
    <div class="slides">
        <section class="event-page container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-4 qr-code">
                    @await Html.PartialAsync("~/Pages/Shared/_QRCodePartial.cshtml", Model.QRCodeViewModel)
                </div>
                <div class="col-8 event-info">
                    <h1 class="display-1 text-light font-weight-bold">
                        @Model.Presentation.Name
                    </h1>
                    <h2 class="display-3 text-light mb-3">[ a mini trivia game ]</h2>
                    <div class="event-info__link">
                        <h2 class="text-primary">slideswith.com/@Model.Username</h2>
                    </div>
                </div>
            </div>
        </section>
        @foreach (var slide in Model.Presentation.Slides)
        {
            <section>
                @if (slide.Type == "Title")
                {
                    <h1>
                        @slide.Title
                    </h1>
                    <p>
                        @slide.Text
                    </p>
                }

                @if (slide.Type == "Image")
                {
                    <img src="@slide.Image" />
                    <p>
                        @slide.Text
                    </p>
                }
            </section>
        }
    </div>
</div>

<script src="~/revealjs/dist/reveal.js"></script>
<script src="~/revealjs/plugin/notes/notes.js"></script>
<script src="~/revealjs/plugin/markdown/markdown.js"></script>
<script src="~/revealjs/plugin/highlight/highlight.js"></script>

<script>
    isPresenter = (@Model.IsPresenter.ToString().ToLower());
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/
    Reveal.initialize({
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],

        controls: isPresenter,
        keyboard: isPresenter,
        touch: isPresenter,
    });
</script>

