@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using DAL.EntityModels.User;
@using BAL.Interfaces;
@using DAL.Enums;
@using System.Collections;
@using DAL.EntityModels;
@inject IUserService userService
@inject UserManager<SlidesUser> userManager
@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var loggedUser = await userService.GetById(userId);
    var limit = 0;
    var presentationsCount = loggedUser.Presentations.Count();
    var count = 0;
    switch (loggedUser.Subscription)
    {
        case Subscription.None:
            limit = 1;
            break;
        case Subscription.Starter:
            limit = 3;
            break;
        case Subscription.Pro:
            limit = 5;
            break;
    }
}

@if (presentationsCount != 0)
{
    <body>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <br />
                    <h1>Your slide decks</h1>
                    @if (presentationsCount >= limit)
                    {
                        <p>
                            You reach subsciption limit, please  <a asp-action="Subscription" asp-controller="User" class="btn btn-primary">
                                Upgade your plan
                            </a>
                        </p>

                    }
                    else
                    {
                        <p>
                            Open an existing slide deck below, or  <a asp-action="Create" asp-controller="Presentation" class="btn btn-primary">
                                Create New Presentation
                            </a>
                        </p>
                    }
                </div>
            </div>
        </div>
        <div>
            <br />
            <div class="deck-box">
                <div class="deck-box m-l-30 m-r-30">
                    @foreach (var obj in loggedUser.Presentations)
                    {
                        if (count == limit)
                        {
                            break;
                        }

                        <a class="deck-card" asp-controller="Presentation" asp-action="Edit" asp-route-id="@obj.Id">
                            <div class="deck-thumb flex-row align-center center">
                                <section class="slide-frame">
                                    <img alt="image" src="@obj.Image">
                                </section>
                            </div>
                            <div class="deck-icon">
                                <img alt="image" src="@loggedUser.Image">
                                <span>@loggedUser.UserName</span>
                            </div>
                            <div class="deck-content">
                                <p class="subtitle is-5 m-t-15 deck-name">@obj.Name</p>
                                <div class="level-meta">
                                    <div class="level-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-images" viewBox="0 0 16 16">
                                            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
                                        </svg> @obj.Slides.Count Slides
                                    </div>
                                </div>
                            </div>
                            <a asp-action="Remove" asp-controller="Presentation" asp-route-id="@obj.Id" class="delete-button" />
                            <i class="bi bi-trash"></i>
                        </a>
                        count++;
                    }
                </div>
            </div>
        </div>
    </body>
}
else
{
    <br/>
    <div class="d-flex align-items-center h-100">
        <div class="container text-center">
            <h1 class="display-4">Your presentation deck is empty!</h1>
            <p class="lead">Please, <a class="btn btn-primary" asp-controller="Presentation" asp-action="Create">Create New Presentation</a> and start editing your slides!</p>
        </div>
    </div>

}