@using DAL.Enums;
@using DAL;
@inject SlidesDbContext db;

@{ 
    var user = db.Users.Where(x => x.UserName == User.Identity.Name).FirstOrDefault();
}

<head>
    <link rel="stylesheet" href="~/css/subscription.css" type="text/css" />
</head>

<body>
    <section>
        <div class="container py-5">
            <div class="row text-center align-items-end">
                <!-- Table 1-->
                <div id="table" class="col-lg-4 mb-5 mb-lg-0">
                    <div class="bg-white p-5 rounded-lg shadow">
                        <h1 style="color:#e40464" class=" font-weight-bold mb-3">Starter</h1>
                        <h1 class=" text-small font-weight-normal ml-2 mb-4">Engaging events for classrooms, small teams and communities.</h1>

                        <h2 id="samel1" style="color:#808080" class="text-small font-weight-normal ml-2">
                            $
                            <h2 id="samel2" style="color:#000000" class="font-weight-bold">
                                8
                                <h2 id="samel3" style="color:#808080" class="text-small font-weight-normal">/mo</h2>
                                <h2 style="text-shadow:0px 0px 1px black; margin-top:10px" class="text-extra small font-weight-normal ml-1">billed annualy ($96 per year)</h2>
                                </br>
                                @if (user.Subscription == Subscription.Starter)
                                {
                                    <a asp-controller="User" asp-action="Subscribe" asp-route-subscriptionType="@Subscription.None" style="background-color:#e40464" class="btn btn-danger btn-block p-2 shadow ">Cancell Subscription</a>
                                }
                                else if (user.Subscription == Subscription.Pro)
                                {
                                    <a asp-controller="User" asp-action="Subscribe" asp-route-subscriptionType="@Subscription.Starter" style="background-color:#e40464" class="btn btn-danger btn-block p-2 shadow ">Downgrade to Starter</a>
                                }
                                else if(user.Subscription == Subscription.None)
                                {
                                    <a asp-controller="User" asp-action="Subscribe" asp-route-subscriptionType="@Subscription.Starter" style="background-color:#e40464" class="btn btn-danger btn-block p-2 shadow ">Get Starter Subscription</a>
                                }
                                </br>
                                </br>

                                <li style="list-style: none;" class="mb-1">
                                    <i class=" mr-2 text-primary"></i>🙋‍♀️ <b>Host up to 50 people</b>
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class=" mr-2 text-primary"></i>💬 All interaction slides
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class=" mr-2 text-primary"></i>🎨 Custom fonts & design
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class=" mr-2 text-primary"></i>💾 Save & export event data
                                </li>
                                <li style="list-style: none;" class="mb-3">
                                    <i class=" mr-2 text-primary"></i>📴 Moderator tools (soon)
                                </li>
</div>
                </div>
                <!-- T1 end -->
                <!-- Table 2-->
                <div id="table" class="col-lg-4 mb-5 mb-lg-0">
                    <div class="bg-white p-5 rounded-lg shadow">
                        <h1 style="color:#e40464" class="h1 font-weight-bold mb-3">Pro</h1>
                        <h1 class="text-small font-weight-normal ml-2 mb-4">Branded events for large teams, conferences and groups.</h1>
                        <h2 id="samel1" style="color:#808080" class="text-small font-weight-normal ml-1">
                            $
                            <h2 id="samel2" style="color:#000000" class="font-weight-bold">
                                24
                                <h2 id="samel3" style="color:#808080" class="text-small font-weight-normal ">/mo</h2>
                                <h2 style="text-shadow:0px 0px 1px black;" class="text-extra small font-weight-normal ml-1">billed at $288 per year</h2>
                                </br>
                                @if (user.Subscription == Subscription.Starter)
                                {
                                    <a asp-controller="User" asp-action="Subscribe" asp-route-subscriptionType="@Subscription.Pro" style="background-color:#e40464" class="btn btn-danger btn-block p-2 shadow ">Upgrade to Pro</a>
                                }
                                else if (user.Subscription == Subscription.Pro)
                                {
                                    <a asp-controller="User" asp-action="Subscribe" asp-route-subscriptionType="@Subscription.None" style="background-color:#e40464" class="btn btn-danger btn-block p-2 shadow ">Cancell Subscription</a>
                                }
                                else if (user.Subscription == Subscription.None)
                                {
                                    <a asp-controller="User" asp-action="Subscribe" asp-route-subscriptionType="@Subscription.Pro" style="background-color:#e40464" class="btn btn-danger btn-block p-2 shadow ">Get Pro Subscription</a>
                                }

                                </br>
                                </br>

                                <li style="list-style: none;" class="mb-1">
                                    <i class="mr-2 text-primary"></i> <b>🙋‍♀️ Host up to 250 people</b>
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class="mr-2 text-primary"></i>💬 All interaction slides
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class="mr-2 text-primary"></i>🎨 Custom fonts & design
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class="mr-2 text-primary"></i>📦 Remove SlidesWith Logo
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class="mr-2 text-primary"></i>💾 Save & export event data
                                </li>
                                <li style="list-style: none;" class="mb-1">
                                    <i class="mr-2 text-primary"></i>📴 Moderator tools (soon)
                                </li>
</div>
                </div>
                <!-- T2 end -->

            </div>
        </div>
    </section>
    <br />
    <a id="rejectbtn" asp-controller="Home" asp-action="Index" class="btn">Not right now</a>
    <br />

</body>